@model LiveBidsWithSignalR.Models.LiveBidItem

@{
    ViewBag.Title = "Live Bid Items";
}
<script src="@Url.Content("~/Scripts/LiveBidItems.js")" type="text/javascript"></script>

<h2>Items</h2>

@Html.ValidationSummary(true)
<table id="LiveBidItems">
<thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
    </tr>
    <tr id="Fields" data-bind="with: selectedItem">
        <th id="Field">
            @Html.HiddenFor(model => model.LiveBidItemId, new { data_bind = "value: liveBidItemId" })
            @Html.TextBoxFor(model => model.Name, new { data_bind = "value: name"})
            @Html.ValidationMessageFor(model => model.Name)
        </th>
        <th id="Field">
            @Html.TextBoxFor(model => model.Description, new { data_bind = "value: description" })
            @Html.ValidationMessageFor(model => model.Description)
        </th>
        <th>
            <div id="CreateActions">
                <input id="Create" type="button" value="Create" data-bind="click: $parent.createItem" />
                <input id="Clear" type="button" value="Clear" />
            </div>
            <div id="ModifyActions">
                <input id="Update" type="button" value="Update" data-bind="click: $parent.updateItem" />
                <input id="Delete" type="button" value="Delete" data-bind="click: $parent.removeItem" />
                <input id="Cancel" type="button" value="Cancel" />
            </div>
        </th>
    </tr>
</thead>
<tbody data-bind='foreach: items'>
    <tr>
        <td><span data-bind="text: name"></span></td>
        <td><span data-bind="text: description"></span></td>
        <td>
            <input id="Modify" type="button" value="Modify" data-bind="click: $parent.setSelectedItem, attr: {livebiditemid: liveBidItemId}" /> | 
            <input id="Bid" type="button" value="Bid"  data-bind="click: $parent.navigateToBidPage, attr: {livebiditemid: liveBidItemId}" />
        </td>
    </tr>
</tbody>
</table>