@model LiveBidsWithSignalR.Models.LiveBidItem

@{
    ViewBag.Title = "Live Bid Items";
}

<h2>Items</h2>

<script type="text/javascript">

    $(document).ready(function () {
        var connection = $.connection('echo');

        $('#Create, #Update, #Delete').click(function () {
            $.ajax({
                url: $(this).attr('callbackUrl'),
                type: 'POST',
                data: $('tr#Fields input, tr#Fields select').serialize(),
                success: function (response) {
                    if (response == "SUCCESS") {
                        connection.send("RefreshItemList");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });
            ResetFields();
        });

        connection.received(function (eventType) {
            if (eventType == 'RefreshItemList') {
                GetLiveBidItems();
            }
        });

        connection.start();

        $('#Modify').live('click', function () {
            var id = $(this).attr('livebiditemid');
            $('tr#Fields #LiveBidItemId').val(id);
            $('tr#Fields #Name').val($('table#LiveBidItems #Name_' + id).html());
            $('tr#Fields #Description').val($('table#LiveBidItems #Description_' + id).html());
            $('#ModifyActions').show();
            $('#CreateActions').hide();
        });
        $('#Bid').live('click', function () {
            var id = $(this).attr('livebiditemid');
            window.location.href = '/LiveBid/Index/' + id;
        });
        $('#Cancel, #Clear').click(function () {
            ResetFields();
        });
        $('#ModifyActions').hide();
        GetLiveBidItems();
    });

    function GetLiveBidItems() {
        var url = '/LiveBidItem/GetAll';
        $.getJSON(url, function (data) {
            if (data && data != 'ERROR') {
                var tableBody = $('table#LiveBidItems tbody');
                tableBody.empty()
                for (i = 0; i < data.length; i++) {
                    tableBody.append('<tr>' +
                                        '<td id="Name_' + data[i].LiveBidItemId + '">' + data[i].Name + '</td>' +
                                        '<td id="Description_' + data[i].LiveBidItemId + '">' + data[i].Description + '</td>' +
                                        '<td>' +
                                            '<input id="Modify" type="button" value="Modify" livebiditemid="' + data[i].LiveBidItemId + '" />' +
                                            '<a href="/LiveBid/Index/' + data[i].LiveBidItemId + '">Bid</a>' +
                                        '</td>' +
                                    '</tr>');
                }
            }
        });
    }

    function ResetFields() {
        $('#ModifyActions').hide();
        $('#CreateActions').show();
        $('tr#Fields th#Field input, tr#Fields th#Field select').val('');
    }
</script>

@Html.ValidationSummary(true)
<table id="LiveBidItems">
<thead>
    <tr>
        <th>@Html.LabelFor(model => model.Name)</th>
        <th>@Html.LabelFor(model => model.Description)</th>
        <th></th>
    </tr>
    <tr id="Fields">
        <th id="Field">
            @Html.HiddenFor(model => model.LiveBidItemId)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </th>
        <th id="Field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </th>
        <th>
            <div id="CreateActions">
                <input id="Create" type="button" value="Create" callbackUrl="/LiveBidItem/Create" />
                <input id="Clear" type="button" value="Clear" />
            </div>
            <div id="ModifyActions">
                <input id="Update" type="button" value="Update" callbackUrl="/LiveBidItem/Update" />
                <input id="Delete" type="button" value="Delete" callbackUrl="/LiveBidItem/Delete" />
                <input id="Cancel" type="button" value="Cancel" />
            </div>
        </th>
    </tr>
</thead>
<tbody>
</tbody>
</table>